<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<connectionStrings>
  <add name="ConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\TheWorldBank\WorldBank\CashAppDashboard\CashDB.mdf;Integrated Security=True" />
   providerName="System.Data.SqlClient" />
  <add name="WorldBankConn" connectionString="metadata=res://*/CoreBankModel.csdl|res://*/CoreBankModel.ssdl|res://*/CoreBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Amaterasu;initial catalog=WorldBank;persist security info=True;user id=sa;password=Alaska2017;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Dashboard.Properties.Settings.CashDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CashDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Dashboard.Properties.Settings.CashDBSQLServerConnectionString1"
   connectionString="Data Source=DESKTOP-A0S19MH;Initial Catalog=CashDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServicesSoap" />
                <binding name="WebServiceBankSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBankSoap1" />
                <binding name="WorldBankWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WorldBankWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50060/MyWebServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServicesSoap"
                contract="WebService.MyWebServicesSoap" name="MyWebServicesSoap" />
            <endpoint address="https://localhost:44339/WebServiceBank.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBankSoap"
                contract="WS.WebServiceBankSoap" name="WebServiceBankSoap" />
            <endpoint address="https://localhost:44351/WorldBankWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WorldBankWebServiceSoap"
                contract="IntegracionWS.WorldBankWebServiceSoap" name="WorldBankWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
