<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceBankSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceBankSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44339/WebServiceBank.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceBankSoap"
        contract="ws.WebServiceBankSoap" name="WebServiceBankSoap" />
    </client>
  </system.serviceModel>
</configuration>
