<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Conn" connectionString="data source=.\sqlexpress;
				   initial catalog=WorldBank;persist security info=True; 
				   Integrated Security=SSPI;"
			   providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="WebServiceBankSoap">
					<security mode="Transport" />
				</binding>
				<binding name="WebServiceBankSoap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost:44339/WebServiceBank.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBankSoap"
                contract="WSB.WebServiceBankSoap" name="WebServiceBankSoap" />
		</client>
	</system.serviceModel>
</configuration>