<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="WorldBankEntities" connectionString="metadata=res://*/WorldBankModel.csdl|res://*/WorldBankModel.ssdl|res://*/WorldBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Amaterasu;initial catalog=WorldBank;persist security info=True;user id=sa;password=Alaska2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceBankSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBankSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44339/WebServiceBank.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBankSoap"
                contract="WSB.WebServiceBankSoap" name="WebServiceBankSoap" />
        </client>
    </system.serviceModel>
</configuration>