<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<connectionStrings>
		<add name="ConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Brandon Diaz\Downloads\The World Bank Cash\Dashboard\CashDB.mdf;Integrated Security=True"/>
		<add name="Dashboard.Properties.Settings.CashDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CashDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
</configuration>
